*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
	scroll-behavior: smooth; 
}

body{
    font-family: 'Montserrat', sans-serif;
}

.fondoGeneral{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.botonGeneral{
    border: 2px solid #fff;
    padding: 10px 30px;
    letter-spacing: 2px;
    font-size: 14px;
    margin-top: 22px;
}

.cont__red{
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #0a0965;;
    color: #fff;
    border-radius: 50%;
}

.fondoGris{
    background-color: #e5e5e5;
}


/*----------------------------------------------------------------*/
/*                            Banner                              */
/*----------------------------------------------------------------*/

.header{
    background-image: linear-gradient(0deg, rgba(66,84,101,0.8), rgba(66,84,101,0.8)), url(../img/banner__fondo.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all 500ms ease-in-out;
}
.header__img{
    width: 90%;
    position: relative;
    z-index: 0;
    margin-top: 90px;
}
.header__titulo{
    font-weight: 500;
}


/*----------------------------------------------------------------*/
/*                            Quienes                             */
/*----------------------------------------------------------------*/
.quienes__titulo{
    font-weight: 400;
}

.quienes__parrafo{
    text-align: justify;
    font-size: 18px;
    line-height: 1.7;
}

/*----------------------------------------------------------------*/
/*                            Pago                                */
/*----------------------------------------------------------------*/
.pago{
    background-image: linear-gradient(0deg, rgba(10,9,101,0.55), rgba(10,9,101,0.55)), url(../img/pago__fondo.jpg);
}
.pago__parrafo{
    text-align: justify;
    font-size: 16px;
}
.pago__titulo{
    font-size: 25px;
    margin-top: 40px;
}
.pago__porcentaje{
    font-size: 90px;
}
.pago__iva{
    font-size: 18px;
}

/*----------------------------------------------------------------*/
/*                            Solcuiones                          */
/*----------------------------------------------------------------*/
.soluciones__imagen{
    width: 70%;
}

/*----------------------------------------------------------------*/
/*                            Todo                                */
/*----------------------------------------------------------------*/

.todo {
    background-image: linear-gradient(
0deg, rgba(193,91,10,0.65), rgba(193,91,10,0.65)), url(../img/todo__fondo.jpg);
    position: relative;
}
.todo__logo{
    position: absolute;
    top: -50px;
    left: 20px;
    width: 55%;
}
.todo__parrafo{
    margin-top: 120px;
}
.todo__red{
    background-color: #ed7311;
}

/*----------------------------------------------------------------*/
/*                            Mision                              */
/*----------------------------------------------------------------*/
.mision__imagen{
    width: 100%;
    height: auto;
}

/*----------------------------------------------------------------*/
/*                            Entrada                             */
/*----------------------------------------------------------------*/
.entrada {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../img/entrada__fondo.jpg);
}
.entrada__logo{
    width: 60%;
}
.entrada__red{
    background-color: #293332;
}

/*----------------------------------------------------------------*/
/*                            Opherton                            */
/*----------------------------------------------------------------*/
.opherton {
    background-image: linear-gradient(
0deg, rgba(9,124,119,0.65), rgba(9,124,119,0.65)), url(../img/opherton__fondo.jpg);
}

/*----------------------------------------------------------------*/
/*                            Opherton                            */
/*----------------------------------------------------------------*/
.firstCripto{
        background-image: linear-gradient(0deg, rgba(10,9,101,0.5), rgba(10,9,101,0.5)), url(../img/firstcripto__fondo.jpg);
    } 


@media (min-width: 768px) { 
    .header__img{
        width: 70%;
       
    }
    .header__titulo{
        font-size: 50px;
        font-weight: 400;
    }


    /*Quienes*/
    .quienes__parrafo{
        text-align: justify;
        font-size: 18px;
        line-height: 1.7;
    }

    /*Pago*/
    .pago__titulo{
        margin-top: 150px;
    }
    .pago__iva{
        position: relative;
        top: -100px;
        left: 120px;
    }

    /*Soluciones*/
    .soluciones__imagen{
        width: 100%;
    }

    /*Todo*/
    .todo__logo{
        top: -50px;
        left: 153px;
    }
    .todo__parrafo{
        margin-top: 150px;
    } 

    /*Entrada*/
    .entrada__logo{
        width: 60%;
    }

}


@media (min-width: 992px) { 
    .header__img{
        width: 80%;
       
    }
    .header__titulo{
        font-size: 60px;
    }

    /*Pago*/
    .pago__iva{
        left: 70px;
    }

    /*Soluciones*/
    .soluciones__imagen{
        width: 70%;
    }

    /*Todo*/
    /*Todo*/
    .todo__logo{
        left: 210px;
    }
    .todo__cont-redes{
        padding-left: 100px;
    }
    .todo__cont-leer{
        padding-left: 70px;
    }

    /*Mision*/
    .mision__imagen{
        width: auto;
        height: auto;
    }
 }


@media (min-width: 1200px) { 
    .header__img{
        width: 40%;
        margin-top: 50px;
       
    }
    .header__titulo{
        font-size: 60px;
    }

    /*Pago*/
    .pago__iva{
        left: 30px;
    }

    /*Todo*/
    .todo__titulo{
        margin-top: 120px;
    }
    .todo__logo{
        width: 40%;
        top: -75px;
        left: 336px;
    }
    .todo__parrafo{
        margin-top: 120px;
    }
    .todo__cont-leer{
        padding-left: 25px;
    }

    /*Entrada*/
    .entrada__logo{
        width: 40%;
    }
 }


@media (min-width: 1400px) { 
    /*Pago*/
    .pago__iva{
        left: -10px;
    }

    /*Soluciones*/
    .soluciones__imagen{
        width: 50%;
    }

    /*Todo*/
    .todo__titulo{
        margin-top: 128px;
    }
    .todo__logo{
        width: 30%;
        left: 460px;
        top: -50px;
    }
    .todo__parrafo{
        margin-top: 130px;
    }
    .todo__cont-leer {
        padding-left: 55px;
    }

    /*Entrada*/
    .entrada__logo{
        width: 31%;
    }

    
 }
